body {
    margin: 0;
    border: 0;
    padding: 0;
}

.body {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.sidebarImage {
    height: 100vh;
}

.photoCredit {
    position: absolute;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.createAccount {
    font-size: 16px;
    font-weight: 600;
    background-color: #507238;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    width: 210px;
    height: 45px;
}

.createAccount:hover {
    box-shadow: 
    0 5px 5px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.createAccount:active {
    background-color: #69a53f;
    box-shadow: inset 0 0 20px 5px #507238,
    0 3px 5px 0 rgba(0, 0, 0, 0.2),
    0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.login {
    font-size: 18px;
    font-weight: 600;
    color: #507238;
    text-decoration: none;
}

.login:hover {
    cursor: pointer;
}

.login:active {
    color: #69a53f;
}