body {
    display: flex;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.contentBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.sidebarImage {
    height: 100vh;
}

.mainPara, .mainPara * {
    font-weight: 500;
    font-size: 22px;
}

#doThis {
    margin-top: 50px;
    font-weight: 400;
    font-size: 24px;
}

.mainForm {
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    padding: 0;
    box-shadow: 
    0 15px 10px -10px rgba(0, 0, 0, 0.5),
    0 1px 4px rgba(0, 0, 0, 0.3);
}

.photoCredit {
    position: absolute;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.createAccount {
    margin: 40px 0 10px 0;
    font-size: 16px;
    font-weight: 600;
    background-color: #507238;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    width: 210px;
    height: 45px;
}

.createAccount:hover {
    box-shadow: 
    0 5px 5px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.createAccount:active {
    background-color: #69a53f;
    box-shadow: inset 0 0 20px 5px #507238,
    0 3px 5px 0 rgba(0, 0, 0, 0.2),
    0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.login {
    font-size: 18px;
    font-weight: 600;
    color: #507238;
    text-decoration: none;
}

.login:hover {
    cursor: pointer;
}

.login:active {
    color: #69a53f;
}