body {
    display: flex;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

input {
    height: 25px;
    width: 280px;
    font-size: 18px;
    padding: 5px;
    border: 2px solid rgb(212, 212, 212);
    border-radius: 5px;
}

input:focus {
    outline: none;
    border: 2px solid rgb(61, 131, 221);

    -webkit-box-shadow:
    0 5px 5px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.1);

    -moz-box-shadow:
    0 5px 5px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.1);
    
    box-shadow: 
    0 5px 5px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.invalid:invalid {
    outline: none;
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.11);
}

section {
    display: flex;
    gap: 30px;
}

form {
    width: 100%;
    -webkit-box-shadow: 0 4px 16px -11px #000000;
    -moz-box-shadow: 0 4px 16px -11px #000000;
    box-shadow: 0 4px 16px -11px #000000;
}

label {
    margin-top: 10px;
    letter-spacing: 2px;
}

.contentBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarImage {
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100vh;
}

.mainPara, .mainPara * {
    max-width: 620px;
    font-weight: 500;
    font-size: 22px;
}

.mainPara {
    margin: 0 20px 0 80px;
}

#doThis {
    margin: 80px 0 15px 0;
    font-weight: 400;
    font-size: 24px;
}

.passSubtext {
    font-size: 12px;
}

.star * {
    margin-bottom: 0;
    color: rgb(51, 51, 51);
    text-shadow: 0 2px 10px rgba(100, 100, 100, 0.5);
    font-size: 13px;
}

.mainForm {
    max-width: 620px;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 80px;
    gap: 20px;
    padding: 0 0 20px 0;
    font-size: 15px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    text-shadow: 0 2px 10px rgba(100, 100, 100, 0.5);
}

.photoCredit {
    position: fixed;
    bottom: 0;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.createAccount {
    margin: 40px 0 10px 80px;
    font-size: 16px;
    font-weight: 600;
    background-color: #3a55ee;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    width: 210px;
    height: 45px;
}

.createAccount:hover {
    -webkit-box-shadow: 
    0 5px 5px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.1);

    -moz-box-shadow: 
    0 5px 5px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.1);

    box-shadow: 
    0 5px 5px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.createAccount:active {
    background-color: #416baa;

    -webkit-box-shadow: 
    inset 0 0 20px 5px #3a55ee,
    0 3px 5px 0 rgba(0, 0, 0, 0.2),
    0 3px 5px 0 rgba(0, 0, 0, 0.1);

    -moz-box-shadow: 
    inset 0 0 20px 5px #3a55ee,
    0 3px 5px 0 rgba(0, 0, 0, 0.2),
    0 3px 5px 0 rgba(0, 0, 0, 0.1);
    
    box-shadow: 
    inset 0 0 20px 5px #3a55ee,
    0 3px 5px 0 rgba(0, 0, 0, 0.2),
    0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.account {
    margin-left: 80px;
}

.login {
    font-size: 18px;
    font-weight: 600;
    color: #3a55ee;
    text-decoration: none;
}

.login:hover {
    cursor: pointer;
}

.login:active {
    color: #416baa;
}